.navbar{
    padding-left: 40%;
    background-color: rgba(199, 194, 194, 0);
    border-radius: 60px;
    border :solid rgb(8, 8, 8) 5px;
    
}

.texto{
    color: rgb(38, 10, 197);
}
.texto1{
    color: rgb(247, 247, 247);
}

button{
    color: rgb(0, 1, 12);
    font-style: oblique;
    background-color: rgb(211, 199, 94);
    border-radius: 50px;
    }

    .end{
        text-align: end;

    }

    

    .centrado{
        text-align: center;

    }

    .logo{
        width: 30px;
        height: 30px;
        background-image: url(/img/login.jpg);
        position: relative;
        align-items: center;

    }
    .img{
        width: 100px;
        height: 100px;
    }
    .logo{
        width: 100px;
        height:100px;
    }
    .img1{
        width: 100px;
        height:30px;
    }
    
    .texto{
        justify-content: center;
        text-align: justify;
    }
    
 .menu{

    margin-left: 50%;

 }

 .img2 {
    width: 300px;
    height:300px;

 }
 .menu1{

    margin-left: 40%;

 }
 .img3 {
    width: 10px;
    height:10px;

 }

 .container{
    position: relative;
    width: 100%;
    min-height: 100%;
    background-image: url(/img/pexels-max-deroin-51415\ -\ copia.jpg);
    background-size: cover;
    
}

 