.navbar{
    padding-left: 50%;
    border-radius: 100px;
    
}

.texto{
    color: rgb(38, 10, 197);
}
.texto1{
    color: rgb(240, 243, 239);
   
}

button{
    color: rgb(0, 1, 12);
    font-style: oblique;
    background-color: rgb(133, 121, 21);
    border-radius: 50px;
    }

    .end{
        text-align: end;

    }


.centrado1{
    width: 50%;
    height: 50%;
    margin: 0%;
    align-items: center;
}
.fondo{
    background-color: rgb(35, 34, 37);
}

.texto2{
    color: rgb(44, 187, 44);
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border border-box;
    
}



body{
    
    background-size: cover;
    width: 100%;
    height: 100vh;
}

main{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
    margin-left: 37%;
   
}


.icon{
    position: relative;
    width: 80px;
    height: 80px;
    margin: 20px;
    border-radius: 70%;
    transition: all .8s;
   
}

.icon:hover{
    background-color: chartreuse;
    box-shadow: 0 0 20px chartreuse;
    
}

.icon:hover:nth-child(2){
    background-color: blue;
    box-shadow: 0 0 20px blue;
}

.icon:hover:nth-child(3){
    background-color: rgb(7, 184, 238);
    box-shadow: 0 0 20px #2d0552;
}


.icon i{
    color: rgb(231, 183, 111);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.7rem;
    
}

svg circle{
    stroke-dasharray: 150;
    transition: all .8s ease-in-out;

}
.icon:hover{
    stroke-dasharray: 220;
  

}




section{
    justify-content: center;
    
    align-items: center;
    
    height: 100vh;
    
    display: grid;       
    }

    .container{
        position: absolute;
        top: 0px;
        left: 0px;     
        background-image: url(/img/fondo.jpg);
        background-size: cover;     
         
    }

    
    .logo{
        width: 100px;
        height: 100px;
        background-image: url(/img/login.jpg);
        position: relative;
        align-items: center;

    }

.centrado {
        display: flex;
        justify-content: center;
        align-items: center;
}

 footer{
    text-align: center;
    background-image: url(/img/fondo.jpg);
  
    
 }
 .datos{
margin-left: 90px;

 }
